<!DOCTYPE html>
    <html>
        <head>
            <title>Weather</title>
            <link rel='icon' href='/images/favicon.ico' />
            <link rel='stylesheet' href='/css/reset.css' />
            <link rel='stylesheet' href='/css/style.css' />
            <link rel='stylesheet' href='/css/about.css' />
        </head>
        <body>
            {{>header}}
            <main id='about'>
                <p>I'm a cat. There are glad tidings. Cats are taking over the internet and a cat has made a website.</p>
                <img id='profile-pic' src='/images/cat-profile/lucky-neko.jpg' alt='cat profile' width='300' />
                <p>
                    Photo by <a href="https://unsplash.com/@theluckyneko?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel='no-referrer'>The Lucky Neko</a> on <a href="https://unsplash.com/s/photos/kittens?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                </p>
            </main>
            {{>footer}}
        </body>
    </html>
</html>