<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/about.css' />
        <script src='/js/app.js'></script>
    </head>
    <body>
        {{>header}}
        <div>
            <h4>I'm a cat. I'm a nurse cat.</h4>
            <img src='/images/cat-profile/lucky-neko.jpg' alt='cat profile' width='300' />
            <div>
                Photo by <a href="https://unsplash.com/@theluckyneko?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" rel='no-referrer'>The Lucky Neko</a> on <a href="https://unsplash.com/s/photos/kittens?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </div>
        </div>
    </body>
</html>
</html>