<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/help.css' />
    </head>
    <body>
        {{>header}}
        <main>
            <p>hep. I've fallen and can't get webpage.</p>
            <p>Whether the weather is good or ill, be chill.</p>
        </main>
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
</html>
</html>