<!DOCTYPE html>
    <html>
        <head>
            <title>Weather</title>
            <link rel='icon' href='/images/favicon.ico' />
            <link rel='stylesheet' href='/css/reset.css' />
            <link rel='stylesheet' href='/css/style.css' />
            <link rel='stylesheet' href='/css/homepage.css' />
            <meta charset='UTF-8'>
        </head>
        <body>
            {{>header}}
            <main id='weather'>     
                <form class='weather-areas' id='weather-form'>
                    <p><span class='text-accent'>hello...</span> enter a location below to begin </p>
                    <input placeholder='Location' id='location-input' />
                    <button>Search</button>
                </form>
                <div class='weather-areas' id='weather-message-area'>
                    <span id='message-one'></span>
                    <ul id='weather-location'></ul>
                    <ul id='weather-description'></ul>
                    <div>
                        <div>
                            <span class='degree hidden'>Current Temperature: </span>
                            <span id='temp'></span>
                            <span class='degree hidden'>&deg;F</span>
                        </div>
                        <div>
                            <span class='degree hidden'>Daily Low Temperatuer: </span>
                            <span id='lowtemp'></span>
                            <span class='degree hidden'>&deg;F</span>
                        </div>
                        <div>
                            <span class='degree hidden'>Daily High Temp:</span>
                            <span id='hightemp'></span>
                            <span class='degree hidden'>&deg;F</span>
                        </div>
                    </div>
                </div>
            </main>
            {{>footer}}
            <script src='/js/app.js'></script>
            <script src='/js/fetchWeather.js'></script>
        </body>
    </html>
</html>