<!DOCTYPE html>
    <html>
        <head>
            <title>Weather</title>
            <link rel='icon' href='/images/favicon.ico' />
            <link rel='stylesheet' href='/css/reset.css' />
            <link rel='stylesheet' href='/css/style.css' />
            <link rel='stylesheet' href='/css/homepage.css' />
        </head>
        <body>
            {{>header}}
            <main id='weather'>     
                <form class='weather-areas' id='weather-form'>
                    <p>hello... enter a location below to begin </p>
                    <input placeholder='Location' id='location-input' />
                    <button>Search</button>
                </form>
                <div class='weather-areas' id='weather-message-area'>
                    <span id='message-one'></span>
                    <ul id='weather-location'></ul>
                    <ul id='weather-description'></ul>
                    <ul id='weather-labels'></ul>
                </div>
            </main>
            {{>footer}}
            <script src='/js/app.js'></script>
            <script src='/js/fetchWeather.js'></script>
        </body>
    </html>
</html>