<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel='icon' href='/images/favicon.ico' />
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link ref='stylesheet' href='/css/homepage.css' />
    </head>
    <body>
        {{>header}}
        <main>        
            <p>One web page sir.</p>
            <p id='cool' is='word-count' data-text='hello'>
                Well, shit. This is a paragraph and these are the things I know about things.
            </p>
            <form id='weatherForm'>
                <input placeholder='Location' id='locationInput' />
                <button>Search</button>
            </form>
            <area>
                <span id='messageOne'></span>
                <ul id='messageTwo'></ul>
            </area>
        </main>
        {{>footer}}
        <script src='/js/app.js'></script>
        <script src='/js/fetchWeather.js'></script>
    </body>
</html>
</html>