<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel='icon' href='/images/favicon.ico' />
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/universe.css' />
    </head>
    <body>
        {{>header}}
        <main>
            <section id='universe'>
                <span id='inner-universe'>
                    <p>The world is open and it's all ok... Welcome to the Universe.</p>
                    <p>This serves as my 404 page. I think I've just gotten so sick of div's that I just can't anymore. Even if it's just a switch between div's and spans. Well. There we go.</p>
                    <p>Also, take note the url that you wanted, that <span id='url'>... thing</span> doens't exist. Instead try navigating someplace else.</p>
                    <p>Or stay here. You are welcome to stay. but this is all the page will do for you. Yep. This is it. Enjoy it.</p>
                </span>
            </section>
        </main>
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
</html>
</html>