<!DOCTYPE html>
    <html>
        <head>
            <title>Weather</title>
            <link rel='icon' href='/images/favicon.ico' />
            <link rel='stylesheet' href='/css/reset.css' />
            <link rel='stylesheet' href='/css/style.css' />
            <link rel='stylesheet' href='/css/universe.css' />
        </head>
        <body>
            {{>header}}
            <main>
                <section id='universe'>
                    <span id='inner-universe'>
                        It's a 404, man. This is not a page that exists.
                    </span>
                </section>
            </main>
            {{>footer}}
            <script src='/js/app.js'></script>
        </body>
    </html>
</html>