<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/weather.css' />
    </head>
    <body>
        {{>header}}
        <main>
            <p>Weather is cool, man.</p>
        </main>
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
</html>
</html>