<footer>
    <span>
        <p>
            Check out the cool cats that made this site. 
        </p>
        <p>
            Go to <a href='https://yummyapps.io' target='_blank' rel='noreferrer'>Yellow Umbrella Makers</a>
        </p>
    </span>
</footer>