<footer>
    <span>
        <p>I wonder why we have a footer at the bottom of every screen? Like am I alone in thinking that we are just trained by the internet to follow certain conventions on where to find things?</p>
        <p>Which is fine. Convention is good. It leads to conveninece and habit. And habit is good.</p>
        <p>But. What about innovation and flexibility?</p>
        <p>Like what if I gave you the calorie count for a big mac in the footer of my page instead of my contact information?</p>
        <p>It's 550 Calories.</p>
        <p>And you can reach me at yellowumbrellacreatives@gmail.com.</p>
        <p>Look at that. You get both. Innovation and Convention.</p>
        <p>Happy Day.</p>
    </span>
</footer>