<h1>Weather App, Whether You Feel Good Or No.</h1>
<h2>{{title}}</h2>
<h3>{{pageTitle}}</h3>
<h4>{{devName}}</h4>
<nav id='header-nav'>
    <span><a href='/weather'>WEATHER</a></span>
    <span><a href='/' rel='noreferrer'>HOME</a></span>
    <span><a href='/about'>ABOUT</a></span>
    <span><a href='/help'>HELP</a></span>
</nav>