<header>
    <h1>Find Out the Weather</h1>
    <h2>{{pageTitle}}</h2>
    <nav id='header-nav'>
        <span><a href='/' rel='noreferrer'>WEATHER</a></span>
        <span><a href='/about'>ABOUT</a></span>
    </nav>
</header>