#weather {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.weather-areas {
    padding-top: 15px;
    background-color: var(--accent-four);
    color: var(--bg-light-text);
}

.weather-areas li, .weather-areas p {
    padding: 5px;
}

.weather-areas input, .weather-areas button {
    outline-color: var(--accent-five);
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--accent-one);
    margin: 10px 0;
}

.weather-areas button {
    text-transform: uppercase;
}

#weather-message-area {
    flex-grow: 1;
}