#header-nav {
    background-color: var(--accent-two);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 1.5em;
    padding: 5px;
}

#header-nav a {
    text-decoration: none;
    color: var(--secondary-text);
    text-transform: upper-case;
    padding: 5px;
}