
:root {
    /* primary bg n text */
    --bg-dark: #22376E;
    --bg-dark-text: #f7f7f7;
    /* secondary bg n text */
    --bg-light: #f7f7f7;
    --bg-light-text: #22376E;
    /* pick three accents */
    --accent-one: #75AFDE;
    --accent-two: #2468B3;
    --accent-three: #0E5299;
    --accent-four: #e4eff8;
    --accent-five: #F2B33D;
    --h-text: #f7f7f7;
    font-family: 'Courier New', Courier, monospace;
}

html {
    font-size: 20px;
    min-height: 100vh;
    background-color: var(--bg-light);
    color: var(-bg-light-text);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--h-text);
    letter-spacing: 0.75px;
    padding: 10px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p, div, span {
    padding: 5px;
}

h1 {
    font-size: 28px;
}

h1, h4 {
    background-color: var(--accent-one);
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h2, h5 {
    background-color: var(--accent-two);
    font-size: 24px;
}

h3, h6 {
    background-color: var(--accent-three);
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

body {
    background-color: var(--bg-light);
    color: var(--bg-light-text);
    display: flex;
    flex-flow: column;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 99vh;
}

main {
    flex-grow: 1;
    padding: 15px;
}

a {
    color: var(--bg-light-text);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.text-accent {
    color: var(--accent-five);
    font-weight: bold;
}

.hidden {
    display: none;
}

